html {
    background-color: #fffeeb;
}

html, body {
    height: 100%;
}

body {
    background-color: #ebe5cc;
    color: #181006;
    margin: 0 auto;
    font-family: arial, verdana, sans-serif;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.har-banner {
    margin-left: 40px;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../res/banner.png");
}

.har-banner > h2 {
    font-size: 3.4em;
}
.har-banner > h3 {
    font-size: 2.4em;
}
.har-banner > p {
    font-size: 1.4em;
    max-width: 390px;
}
.har-logo {
    background-color: #fffeeb;
    height: 6em;
    border-bottom: 1px #ff7353 solid;
}

.har-logo-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1.7em;
}

.har-drop-zone {
    border: dotted 3px lightgray;
}

.nv-file-over {
    border: dotted 3px red;
}

.nvtooltip, .nvtooltip body {
    background-color: #817961 !important;
}

.har-tooltip-inner {
    padding: 2px 6px 2px 6px;
    min-width: 125px;
}

.har-tooltip-title {
    text-align: left;
    color: #ffffef;
    word-wrap: break-word;
}

.har-tooltip-hint {
    font-size: .8em;
    font-style: italic;
}

.har-report-pie {
    min-width: 390px;
}

.har-chart-title {
    text-align: center;
}

.har-tooltip-inner > hr {
    margin: 0;
    padding: 0;
}

.har-tooltip-inner p {
    display: inline-block;
    color: #ffffef;
    text-align: left;
}

.har-report-details > .panel {
    background-color: #fffeeb;
}

.har-detail-list-item {
    word-wrap: break-word;
}

.har-report-details > .panel > .panel-heading {
    background-color: #f8f7e5;
}

.har-clear-button {
    float: right;
}

.har-alert-well {
    max-width: 600px;
    margin: 0 auto;
}