<div class="row har-banner">
    <h2>HAR reporting</h2>
    <h3>that's easy and intuitive</h3>
    <p>Browse for a HAR file to submit for analysis or drag and drop one onto the button.</p>
    <div file-input="file" on-change="readFile()"></div>

</div>