<div>
    <button ng-click="clearReport()" class="btn btn-primary har-clear-button">Clear</button>
    <h2>HAR Report for</h2>

    <h4>{{report.pageTitle}}</h4>
    <hr>
    <div class="row">
        <div class="col-md-4 har-report-pie">
            <h4 class="har-chart-title">Counts by Type</h4>
            <nvd3-pie-chart
                    data="report.requestsByType"
                    id="byType"
                    height="500"
                    width="400"
                    x="xFunction()"
                    y="countFunction()"
                    donut="true"
                    tooltips="true"
                    tooltipcontent="tooltipCountFunction('')"
                    showlegend="true"
                    donutRatio=".4"
                    donutLabelsOutside="true"
                    interactive="true"
                    transitionduration="250">
                <svg height="300"></svg>
            </nvd3-pie-chart>
        </div>
        <div class="col-md-4 har-report-pie">
            <h4 class="har-chart-title">Bytes by Type</h4>
            <nvd3-pie-chart
                    data="report.requestsByType"
                    id="byBytes"
                    height="500"
                    width="400"
                    x="xFunction()"
                    y="bytesFunction()"
                    donut="true"
                    tooltips="true"
                    tooltipcontent="tooltipCountFunction('bytes')"
                    showlegend="true"
                    donutRatio=".4"
                    donutLabelsOutside="true"
                    interactive="true"
                    transitionduration="250">
                <svg height="300"></svg>
            </nvd3-pie-chart>
        </div>
        <div class="col-md-4 har-report-pie">
            <h4 class="har-chart-title">Requests Referred</h4>
            <nvd3-pie-chart
                    data="report.requestsReferred"
                    id="byReferred"
                    height="500"
                    width="400"
                    x="xFunction()"
                    y="countFunction()"
                    donut="true"
                    tooltips="true"
                    tooltipcontent="toolTipReferrerFunction()"
                    showlegend="true"
                    donutRatio=".4"
                    donutLabelsOutside="true"
                    interactive="true"
                    transitionduration="250">
                <svg height="300"></svg>
            </nvd3-pie-chart>
        </div>
    </div>

    <div class="row har-report-details" ng-show="referredDetail.values.length > 0">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Item: {{referredDetail.url}}</h4>
            </div>
            <div class="panel-body">
                <p>Count: {{referredDetail.values.length}}</p>
                <ul>
                    <li class="har-detail-list-item" data-ng-repeat="x in referredDetail.values track by $index">
                        {{ x }}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <h3>{{report.requestsByDuration[0].key}} {{report.requestsByDuration[0].values.length}} requests</h3>
        <nvd3-multi-bar-horizontal-chart
                data="report.requestsByDuration"
                id="byDuration"
                height="{{durationHeight}}"
                showyaxis="true"
                showvalues="true"
                tooltipcontent="tooltipDurationFunction()"
                interactive="true"
                transitionduration="250"
                xaxisorient="right"
                tooltips="true">
            <svg></svg>
        </nvd3-multi-bar-horizontal-chart>
    </div>
</div>